.header-color{
    --background: #10A99E !important;
    color:white;
    border: none !important;
}

.customCenter {
    display: flex;    
    align-items: center;    
    justify-content: center; 
}